.about-wrapper div h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #2a2a2a;
}

.about-wrapper div h5 {
    font-size: 15px;
    line-height: 30px;
    color: #afafaf;
    max-width: 550px;
}